/*Global*/
body{
margin: 0;
padding: 0;
}
p{
font-family: 'Lato';
}
h1{
font-family: 'Montserrat';
}
/*Top*/
.logo{
float: left;
margin-left: 50px;
font-family: 'Montserrat';
font-size: 30px;
}
.logo a{
color: black;
transition: none;
background: white;
}
.logo a{
text-decoration: none;
color: black;
}
.top{
background: black;
}
header{
position: fixed;
width: 100%;
background: white;
box-shadow: 0px 4px 10px gray;
}
/*Navigation*/
nav{
float: right;
margin-top: 30px;
font-family: 'Montserrat';
}
nav a{
margin-right: 25px;
padding: 10px;
text-decoration: none;
color: black;
}
/*Current Page*/
nav .current{
font-weight: bold;
}
nav a:hover{
background: black;
color: white;
transition: 0.6s ease;
}
nav a:not(:hover){
background: white;
color: black;
transition: 0.6s ease;
}
/*Below Top*/
#showcase{
clear: left;
text-align: center;
width: 400px;
display: block;
margin-left: auto;
margin-right: auto;
font-family: 'lato';
}
#showcase img{
margin-top: 150px;
box-shadow: 5px 5px 10px gray;
}
#showcase p{
margin-top: 50px;
}
#showcase h1{
margin-top: 20px;
}
/*Dropdown Menu*/
ul{
float: right;
}
ul li{
list-style: none;
float: left;
}
.dropcontent{
position: absolute;
display: block;
line-height: 39px;
display: none;
padding: 0;
margin: 0;
margin-top: 9px;
padding-right: 0;
max-width: 50px;
}
.dropcontent li a{
margin: 0;
padding-right: 30px;
}
.dropcontent li a:hover{
background: rgb(235,235,235);
color: black;
transition: 0.6s ease;
}
.dropcontent li{
box-shadow: 0px 5px 5px gray;
}
.dropcontent ul li{
margin-right: 0;
padding-right: 0;
}
ul li:hover .dropcontent {
display: inline-block;
}
ul li .dropcontent ul li:not(:hover){
display: none;
}
ul{
margin-top: 0;
}
hr{
border: 0.5px solid gray;
clear: left;
}
/*My Story*/
#story{
margin-left: 20px;
}
#story h1{
font-family: 'Montserrat';
margin-top: 50px;
}
#story img{
margin-top: 25px;
float: left;
margin-right: 20px;
box-shadow: 5px 5px 10px gray;
margin-bottom: 100px;
}
#story p{
margin-top: 40px;
line-height: 35px;
padding-left: 200px;
font-family: 'Lato';
width: 900px;
font-size: 20px;
}
#follow{
clear: left;
text-align: center;
}
#follow img{
vertical-align: middle;
color: black;
filter: opacity(100%);
margin-bottom: 6px;
}
#follow img:hover{
background: white;
color: black;
transition: none;
}
#follow h1{
margin-top: 50px;
}
#follow p{
margin-left: auto;
margin-right: auto;
width: 500px;
margin-top: 50px;
line-height: 35px;
font-family: 'Lato';
font-size: 20px;
margin-bottom: 90px;
}
footer{
clear: left;
background: rgb(20,20,20);
margin: 0;
padding: 0;
overflow: hidden;
}
footer p, a{
color: white;
text-decoration: none;
}
footer a:hover{
text-decoration: underline;
}
.super{
display: inline-block;
padding: 0 200px;
}
.sub{
text-size: 25px;
display: block;
padding-left: 648px;
}
.under p a{
font-size: 15px;
color: rgb(230,230,230);
}
#bottom{
background: rgb(30,30,30);
padding-bottom: 10px;
margin-top: 50px;
margin-bottom: 0;
padding-left: 30px;
overflow: hidden;
}
